.m-t-sm{
  margin-top: 5px;
}
.font-sm{
  font-size: 13px;
}
.m-t-cc{
  margin-top: 270px;
  margin-left: 10px;
}

.m-r-sm{
  margin-right: 20px;
}

.m-b-sm{
  margin-bottom: 10px;
}

.red{
  color: red;
}

.green{
  color: green;
}

.m-r-sm{
  margin-left:7px;
}

.m-t-sm{
  margin-top: 10px;
}