// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table{
  table-layout: fixed;
  width: 300px;
}

th, td {
  overflow: hidden;
  width: 100px;
}

#tag_cloud{
  width:220px;
  line-height: 1.6em;
  .s{font-size:0.8em}
  .m{font-size:0.8em}
  .l{font-size:0.8em}
  margin-top:10px;
}

.tag_cloud{
  margin-top: 30px;
}