<!DOCTYPE html>
<html>
<head>
  <title>Linkstore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<p class='font-sm m-t-cc'> <strong>Please note: </strong>All URLs and its contents are copyrighted under corrosponding URL's author. </p>
</body>
</html>
